Repository lightninglabs/loop, pull requests merged in 2020-05, with the labels that each got.

#206 readme: document api support level
  README.md
Labels: client rpc, documentation, server rpc

#205 loop out: allow outbound channel set for multi-loops
  client.go
  cmd/loop/loopout.go
  go.mod
  go.sum
  interface.go
  lndclient/lnd_services.go
  lndclient/router_client.go
  loopd/start.go
  loopd/swapclient_server.go
  loopd/view.go
  loopdb/loopout.go
  loopdb/raw_db_test.go
  loopdb/store.go
  loopdb/store_test.go
  loopout.go
  loopout_test.go
  looprpc/client.pb.go
  looprpc/client.proto
  looprpc/client.swagger.json
Labels: client rpc, enhancement, loop out

#202 loopd+config: prepare to be used as a library
  cmd/loop/main.go
  cmd/loopd/main.go
  loopd/config.go
  loopd/daemon.go
  loopd/run.go
  loopd/swapclient_server.go
  loopd/utils.go
  loopd/view.go
Labels: daemon, enhancement
