Repository lightninglabs/loop, pull requests merged in 2020-06, with the labels that each got.

#193 loopout: push preimage to server to speed up off chain claim
  client.go
  client_test.go
  go.mod
  go.sum
  lndclient/router_client.go
  loopin_test.go
  loopout.go
  loopout_test.go
  looprpc/server.pb.go
  looprpc/server.proto
  server_mock_test.go
  swap.go
  swap_server_client.go
  test/context.go
  testcontext_test.go
Labels: loop out

#232 readme: update compatibility table
  README.md
  lndclient/lnd_services.go
Labels: documentation

#231 looprpc: fix doc on routing fee units
  go.mod
  go.sum
  looprpc/client.pb.go
  looprpc/client.pb.gw.go
  looprpc/client.proto
  looprpc/client.swagger.json
  looprpc/server.pb.go
Labels: client rpc

#238 loopout: record htlc tx hash
  client_test.go
  go.sum
  loopdb/meta.go
  loopdb/migration_04_updates.go
  loopdb/migration_04_updates_test.go
  loopdb/raw_db_test.go
  loopdb/store.go
  loopdb/store_test.go
  loopdb/swapstate.go
  loopout.go
  loopout_test.go
  test/context.go
Labels: loop out, security

#239 loopdb: classify InvoiceSettled as pending
  loopdb/swapstate.go
Labels: loop in

#240 loopin: record htlx tx hash
  loopdb/swapstate.go
  loopin.go
  loopin_test.go
  store_mock_test.go
Labels: loop in, security
